.edit
  .edit__header
    = render 'header'
  .edit__main
    %h1 パスワード変更
    .edit__main__panel
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "user-form"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            メールアドレスが確認できません。
        .field
          = f.label :"新しいパスワード(7文字以上です)"
          %i 
          %br/
          = f.password_field :password, autocomplete: "new-password", class: "user-form"
          - if @minimum_password_length
            %br/
            %em
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "user-form"
        .field
          = f.label :current_password
          %i 
          %br/
          = f.password_field :current_password, autocomplete: "current-password", class: "user-form"
        .actions
          = f.submit "パスワードを更新する",class: "login-btn"
  .edit__footer
  = render 'footer'
