-#= render "items/header"

.container
  %main.main-container
    = render partial: "show_sidebar", locals: {}
    .credit_card
      .credit-card__box
        .credit-card__box__title
          %h1 クレジットカード情報入力
        .credit-card__box__inner
          = form_with url: pay_credit_cards_path, method: :post,id: 'charge-form', html: { name: "inputForm" } do |f|
            .card-notification
              ご利用いただけるクレジットカード
            .card-icons
              = image_tag "credit_card_logo/American_Express.svg", class:"american-express card"
              = image_tag "credit_card_logo/diners-club.svg", class: "diners-club card"
              = image_tag "credit_card_logo/JCB.svg", class: "jcb card"
              = image_tag "credit_card_logo/Mastercard.svg", class: "mastercard card"
              = image_tag "credit_card_logo/Visa.svg", class: "visa card"
              = image_tag "credit_card_logo/UnionPay.svg", class: "union-pay card"
            .cards-number
              = f.label :カード番号, class: 'label'
              %span.form_require 必須
              = f.text_field :card_number, type: 'text', class: 'credit-card__box__inner__number',id: "card_number" ,placeholder: '半角数字のみ', maxlength: "16"
            .cards-expire__head
              = f.label :有効期限, class: 'label'
              %span.form_require 必須
            .cards-expire
              .cards-expire__month
                = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'credit-card__box__inner__input-expire',id: "exp_month"
                %span.expire-text 月
              .cards-expire__year
                = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'credit-card__box__inner__input-expire', id: "exp_year"
                %span.expire-text 年
            .cards-expire__security
              = f.label :セキュリティコード, class: 'label'
              %span.form_require 必須
              = f.text_field :cvc, type: 'text', class: 'credit-card__box__inner__input-number', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4", id: "cvc"
            .content-bottom#card_token
              = f.submit '追加する', class: 'content-bottom--add-btn btn', id: 'token_submit'
