= render "items/header"
.container
  %main.main-container
    / 以下サイドバーの部分テンプレート
    = render "users/show_sidebar"
    .detail-credit_card
      .detail-credit-card__box
        .detail-credit-card__box__title
          %h1 登録クレジットカード情報
        .detail-credit-card__box__inner
          .detail-card-notification
          現在お支払いに使用しているカード情報は下記の通りです
          .detail-card-icons
            = image_tag "credit_card_logo/American_Express.svg", class:"american-express card"
            = image_tag "credit_card_logo/diners-club.svg", class: "diners-club card"
            = image_tag "credit_card_logo/JCB.svg", class: "jcb card"
            = image_tag "credit_card_logo/Mastercard.svg", class: "mastercard card"
            = image_tag "credit_card_logo/Visa.svg", class: "visa card"
            = image_tag "credit_card_logo/UnionPay.svg", class: "union-pay card"
          .detail-credot-card__box__inner__show-number 
            カードナンバー 
            %br/
            = "**** **** **** #{@default_card_information.last4}"
          .detail-credit-card__box__inner__show-icon
            -# %i.fab.fa-cc-visa.fa-2x
            = image_tag "credit_card_logo/Visa.svg", class: "visa card"
          .detail-credit-card__box__inner__show-expire 
            有効期限
            %br/
            = @exp_month + " / " + @exp_year
          = form_with url: delete_credit_cards_path, method: :post, id: 'charge-form',local: true, html: { name: "inputForm"} do |f|
            = f.hidden_field :card_id, value: ""
            .center
              = f.submit "削除する", class:"detail-credit-card__box__inner__show-delete"