= render "items/header"
.mypage
  .container
    %main.main-container
      / 以下サイドバーの部分テンプレート
      = render "show_sidebar"
      -# --------ここから発送元・お届け先住所変更--------
      = form_with model: [@user] , class:"address" ,data: {remote: false } do |f|
        .register-address
          .register-address__header
            %span.top 発送元・お届け先住所変更
          .register-address__contents
            .register-address__contents__name
              .register-address__contents__name__require
                .title お名前
                .require 必須
              .register-address__contents__form
                = f.text_field :lastname,  :placeholder => "例)田中", class: "input-text"
              .register-address__contents__form
                = f.text_field :firstname , :placeholder => "例)彩", class: "input-text"
            .register-address__contents__name
              .register-address__contents__name__require
                .title お名前カナ
                .require 必須
              .register-address__contents__form
                = f.text_field :lastnameKANA , placeholder: "タナカ", class: "input-text"
              .register-address__contents__form
                = f.text_field :firstnameKANA , placeholder: "アヤ", class: "input-text"
          = f.fields_for :addresses , @addresses , class: "register-address__contents" do |address|
            .register-address__contents__name
              .register-address__contents__name__require
                .title 郵便番号
                .require 必須
              .register-address__contents__form
                = address.text_field :postalcode , placeholder: "100-0001", class: "input-text"
            .register-address__contents__name
              .register-address__contents__name__require
                .title 都道府県
                .require 必須
              .register-address__contents__form
                = address.select :prefecture_id, Prefecture.all.map{|pre| [pre.name,pre.id]}, include_blank: '選択してください', class: "listing-select"
            .register-address__contents__name
              .register-address__contents__name__require
                .title 市区町村
                .require 必須
              .register-address__contents__form
                = address.text_field :first_address , placeholder: "例)東京都港区", class: "input-text"
            .register-address__contents__name
              .register-address__contents__name__require
                .title 番地
                .require 必須
              .register-address__contents__form
                = address.text_field :second_address , placeholder: "例)青山1-1-1", class: "input-text"
            .register-address__contents__name
              .register-address__contents__name__require
                .title 建物名
                .optional 任意
              .register-address__contents__form
                = address.text_field :third_address , placeholder: "例)新青山ビル", class: "input-text"
            .register-address__contents__name
              .register-address__contents__name__require
                .title 電話
                .optional 任意
              .register-address__contents__form
                = address.text_field :phone_number , placeholder: "例)09012345678", class: "input-text"
            .register-address__contents__button
              = f.submit class: "submit-btn btn" , value: "変更する"
              =link_to "戻る", user_path(@user.id), class: "btn-back", type: "submit" 
= render "items/footer"
