= render "items/header"
.container
  %main.main-container
    = render "show_sidebar"
    = form_with model: [@user],class:"main-content" ,data: { remote: false } do |f|
      %h2.main-content__head プロフィール
      %section.main-content__user
        =link_to "#", class: ".main-content__user" do
          =image_tag "img01.jpg", class: "user-image"
          %h2.main-content__user__name
            = current_user.nickname
      
      
      .profile__image
        .profile__background__image
          
        .profile__user__image
          = image_tag "img01.jpg", class: "user" 
      .profile__text
        %p.buy_enquiry_contact__title 購入・支払いについて
        .buy_enquiry_contact__content
          .buy_enquiry_contact__content--box
            .id
              %h1.title 商品ID
              %input.content{:type => "text", :placeholder => "m123456789"}
            .description
              .description__box
                %h1.title お問い合わせの内容
                %p.required 必須
              %textarea.description__content{:type => "text", :placeholder => "例:本物のトラクターを頼んだのにミニカーのトラクターが届いた"}
            .form
              = link_to "#" do
                %input.submit.btn{:type => "submit", :value => "送信する"}
= render "items/footer"