= render "items/header"
.container
  %main.main-container
    = render "show_sidebar"
    = form_with model: [@user],class:"main-content" ,data: { remote: false } do |f|
      %h2.main-content__head プロフィール
      %section.main-content__user
        .main-content__user__bg-image#user-bg-image
          - if @user.background_image.present?
            = image_tag @user.background_image.url, class:"bg-image", id: "new-bg-image"
          - else
            = image_tag "user_image01.jpg", class: "bg-image", id: "new-bg-image"
          =f.file_field :background_image,id: "user-bg-uploader" ,class: "bg-img-file bg-image-upload opacity"
        .main-content__user__icon#user-icon
          - if @user.icon_image.present?
            = image_tag @user.icon_image.url, class: "user-image",id: "new-user-icon"
          - else
            = image_tag "img01.jpg", class: "user-image", id: "new-user-icon"
          =f.file_field :icon_image,id: "" ,class: "icon-img-file user-image opacity"
          %h2.main-content__user__name
            =f.text_field :nickname, class: "user-name" , placeholder: @user.nickname
      .main-content__blank
      %br
      .main-content__user__text
        .profile__text
          - if @user.profile.present?
            = f.text_area :profile, class: "profile__text", placeholder: @user.profile
          - else
            = f.text_area :profile, class: "profile__text", placeholder: "こんにちは、ご覧いただきありがとうございます。自作のハンドメイドアクセサリーやモード系のファッションアイテムを中心に出品しています。発送方法や商品についてご質問ありましたらお気軽にどうぞ♪"
      .form
        = f.submit value: "プロフィール更新", class: "submit-btn btn"
        = link_to "戻る" , user_path(@user.id) , class: "btn-back"

= render "items/footer"