= render "items/header"
.mypage
  .container
    %main.main-container
      = render "show_sidebar"
      .main-content
        = render "show_user_info"
        
        %section.main-content__favorite
          .favorite__head
            お気に入り一覧
          .tab__content.favorite__lists
            %ul.tab__content.favorite__lists
              - current_user.favorite_items.each do |item|
                %li.tab__content__list
                  =link_to item_path(item.id), class: "tab__content__list-box" do
                    =image_tag item.item_images[0].image.url, alt: "",id: "",class: "list-image"
                    .list-text
                      = item.name
                      .li 
                        %span.icon ♡ 
                        %span.favorite
                          = item.favorites.count
                      .list-text-icon
                        = item.price
                        %span
                          円
                    %i.fas.fa-chevron-right.nav-icon

= render "items/exhibition"

= render "items/footer"
