//usermypage
= render "items/header"
.container
  %main.main-container
    / 以下サイドバーの部分テンプレート
    = render "show_sidebar"
    / 以下メインメニューの部分テンプレート
    = render "show_main-content"
= render "items/exhibition"
= render "items/footer"