%section.article-top
  = image_tag("bg-mainVisual-pict_pc.jpg",clss:"article-top__img",width:"100%",height:"550px")   
  .article-top__message
    .article-top__message__title
      %h2  人生を変えるフリマアプリ
    .article-top__message__text
      %p FURIMAは誰でもかんたんに出品・購入できる
      %p フリマアプリです
    .article-top__message__btn
      .article-top__message__btn__apple
        = image_tag("app-store.svg",clss:"apple__btn", width:"200",height:"80")  
      .article-top__message__btn__google
        = image_tag("google-play.svg",clss:"google__btn",width:"200",height:"80")  
  

%section.selection
  .selection__subtitle
    %p2 FURIMAが選ばれる3つの理由
    
    %ul.selection__subtitle__lists
      %li.selection__subtitle__lists__list
        .selection__subtitle__lists__list__image
          %span.number 1
          = image_tag("pict-reason-01.jpg" ,height:"300");
        .selection__subtitle__lists__list__text
          %span 3分
          ですぐに出品
          %br/
          %p スマホで入力するだけで簡単に出品できる！
      %li.selection__subtitle__lists__list
        .selection__subtitle__lists__list__image
          %span.number 2
          = image_tag("pict-reason-02.jpg",height:"300");
        .selection__subtitle__lists__list__text
          %span.h2 シンプル 
          で使いやすい
          %br/
          %p めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.selection__subtitle__lists__list
        .selection__subtitle__lists__list__image
          %span.number 3
          = image_tag("pict-reason-03.jpg",height:"300");
        .selection__subtitle__lists__list__text
          %span 手数料 
          業界最安
          %br/
          %p 最大3%でお得に出品&購入！
      

.section.article__center
  = image_tag("bg-topMiddleDl-pict.jpg",class:"article__center__img",width:"100%",height:"400px" );  
  .article__center__message
    .article__center__message__title
      %h2 会員数日本一位
    .article__center__message__text
      %p FURIMAは、フリマアプリで最も人気。
      %p 出品・購入回数も業界最多です！
      %p ほしかったあの商品に出会えるかもしれません。
    .article__center__message__btn
      .article__center__message__btn__apple
        = image_tag("app-store.svg",clss:"apple__btn", width:"200",height:"80")  
      .article__center__message__btn__google
        = image_tag("google-play.svg",clss:"google__btn",width:"200",height:"80")  


%section.feature
  .feature__title
    %p2 FURIMAが選ばれる3つの理由
    
    %ul.feature__title__lists
      %li.feature__title__lists__list
        .feature__title__lists__list__image
          = image_tag("icon-01.png" ,height:"300");
        .feature__title__lists__list__text
          %h2 簡単に売り買いできる
          %p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！


      %li.feature__title__lists__list
        .feature__title__lists__list__image
          = image_tag("icon-03.png",height:"300");
        .feature__title__lists__list__text
          %h2 売上金は即日振込みに対応
          %p 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!

      %li.feature__title__lists__list
        .feature__title__lists__list__image
          = image_tag("icon-04.png",height:"300");
        .feature__title__lists__list__text
          %h2 様々な支払いに対応 
          %p お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
      


.section.pickup-category
  .pickup-category__message
    %h2 ピックアップカテゴリー
    %h3  新規投稿商品
  .pickup-category__product
    .pickup-category__product__main
      -# = link_to "#"
      .pickup-category__product__main__list
        -# =link_to "#"
        .pickup-category__product__main__list__img
          = image_tag("product3.png",height:"230");
        .pickup-category__product__main__list__text
          %h3.name product3
          .pickup-category__product__main__list__text__details
            .ul
              .li 30000円
              .li 
                .icon ★ 0
            %p (税込)

      .pickup-category__product__main__list
        -# =link_to "#"
        .pickup-category__product__main__list__img
          = image_tag("product2.png",height:"230");
        .pickup-category__product__main__list__text
          %h3.name product3
          .pickup-category__product__main__list__text__details
            .ul
              .li 30000円
              .li 
                .icon ★ 0
            %p (税込)

      .pickup-category__product__main__list
        -# =link_to "#"
        .pickup-category__product__main__list__img
          = image_tag("product1.png",height:"230");
        .pickup-category__product__main__list__text
          %h3.name product3
          .pickup-category__product__main__list__text__details
            .ul
              .li 30000円
              .li 
                .icon ★ 0
            %p (税込)


.section.pickup-category
  .pickup-category__message
    %h2 ピックアップブランド
    %h3  アーカイバー
  .pickup-category__product
    .pickup-category__product__main
      -# = link_to "#"
      .pickup-category__product__main__list
        -# =link_to "#"
        .pickup-category__product__main__list__img
          = image_tag("product3.png",height:"230");
        .pickup-category__product__main__list__text
          %h3.name product3
          .pickup-category__product__main__list__text__details
            .ul
              .li 30000円
              .li 
                .icon ★ 0
            %p (税込)

      .pickup-category__product__main__list
        -# =link_to "#"
        .pickup-category__product__main__list__img
          = image_tag("product2.png",height:"230");
        .pickup-category__product__main__list__text
          %h3.name product3
          .pickup-category__product__main__list__text__details
            .ul
              .li 30000円
              .li 
                .icon ★ 0
            %p (税込)

      .pickup-category__product__main__list
        -# =link_to "#"
        .pickup-category__product__main__list__img
          = image_tag("product1.png",height:"230");
        .pickup-category__product__main__list__text
          %h3.name product3
          .pickup-category__product__main__list__text__details
            .ul
              .li 30000円
              .li 
                .icon ★ 0
            %p (税込)