= link_to (image_tag 'logo.png' , class: "main__logo" ),root_path 
.listing
  =form_with model: [@item],data: { remote: false } , class: "listing__box" do |f|
    .listing__box--title
      %p 出品画像
      %p.equired 必須
    %p.listing-attention 最大10枚まで
    .exhibit__image-box#exhibit__image-box
      .exhibit__image-box__previews#exhibit__image-box__previews
        - if @item.item_images.present?
          - @item.item_images.each_with_index do |image,i|
            .exhibit__image-box__previews__preview{"data-index" => "#{i}"}
              .exhibit__image-box__previews__preview__image
                = image_tag image.image.url,data: { index: i } , size: "120x120", class: "input__images"
                .exhibit__image-box__previews__preview__delete.img-remove 削除
        =f.fields_for :item_images, @item.item_images do |image|
          -if @item.persisted?
            = image.check_box :_destroy, include_hidden: false, data:{ index: image.index }, class: "hidden-destroy"
      .exhibit__image-box__uploader#exhibit__image-box__uploader
        %label.exhibit__image-box__uploader__label#exhibit__image-box__uploader__label
          .img-file_group{"data-index" => "#{@item.item_images.length}"}
            = f.file_field :image ,name: "item[item_images_attributes][#{@item.item_images.length}][image]" ,id: "item_item_images_attributes_#{@item.item_images.length}_image" ,class: "secret-image img-file"
      
        .exhibit__image-box__uploader__text
          写真を追加。
    .listing__box--title
      %p 商品名
      %p.equired 必須
    =f.text_field :name, class: "listing-form", placeholder: "40字まで"
    .listing__box--title
      %p 商品説明
      %p.equired 必須
    =f.text_area :introduction, class: "item-text", placeholder: "商品の説明（1000字まで）"
    %p 商品の詳細
    .listing__box--title
      %p カテゴリー
      %p.equired 必須
    = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {selected: @item.category.parent.parent.id}, class: 'listing-select-wrapper__box--select', id: 'parent_category'
    .listing-child
      .listing-select-wrapper__added#children_wrapper
        .listing-select-wrapper__box
          = f.collection_select :category_id, @item.category.parent.parent.children, :id, :name, {selected: @item.category.parent_id}, class: 'listing-select-wrapper__box--select', id: "child_category"
    .listing-grandchild
      .listing-select-wrapper__added#grandchildren_wrapper
        .listing-select-wrapper__box
          = f.collection_select :category_id, @item.category.parent.children, :id, :name, class: 'listing-select-wrapper__box--select',id: "grandchild_category", selected: @item.category.id
    - if @item.item_size.present?
      .listing-size
        .listing-product-detail__size#size_wrapper
          .listing__box--title
            %p.listing-default__label サイズ
            %p.listing-default--require.equired 必須
          .listing-select-wrapper__added--size
            .listing-select-wrapper__box
              = f.collection_select :item_size, @item_sizes, :item_size, :item_size, {prompt: ""}, class: 'listing-select-wrapper__box--select', selected: @item.item_size
    .listing__box--title
      %p ブランド
      %p.arbitrary 任意
    =f.text_field :brand, class: "listing-form", placeholder: "例）アディダス"
    .listing__box--title
      %p 商品の状態
      %p.equired 必須
    =f.select :status, ['新品', '未使用', '未使用に近い', '目立った傷や汚れなし', 'やや傷や汚れあり', '傷や汚れあり', '全体的に状態が悪い'], class: "listing-select"
    .listing__box--title
      %p 配送料の負担
      %p.equired 必須
    =f.select :delivery_fee,  ['送料込み（出品者負担）', '着払い（購入者負担）'], class: "listing-select"
    .listing__box--title
      %p 発送元の地域
      %p.equired 必須
    =f.select :prefecture_id, Prefecture.all.map{|pre| [pre.name,pre.id]}, class: "listing-select"
    .listing__box--title
      %p 発送までの日数
      %p.equired 必須
    =f.select :preparation_day, ['1〜2日', '2〜3日', '4〜7日'],  class: "listing-select"
    .listing__box--fee
      .listing__box--title
        %p 販売価格
        %p.equired 必須
      .listing__box--price
        =f.number_field :price, class: "listing-price", placeholder: "0", id: "item_price"
        %p 円
    .listing__box--fee
      %p 販売手数料 (10%)
      %p#inner-commission= "#{(@item.price * 0.1).floor}円"
    .listing__box--fee
      %p 販売利益
      %p#inner-benefit= "#{@item.price - (@item.price * 0.1).floor}円"
    .listing__box--btns
      =f.submit class: "btn submit-btn", value: "編集する"
      =link_to "戻る", item_path(@item.id), class: "btn-back", type: "submit"