.wrapper
  = render "header"

.search
  -# -----サイドバー-----
  .search__sidebar
    = search_form_for @q,url:search_items_path, class:"search__form" do |f|
      .search__sidebar__select
        %h2.search__sidebar__select__title 並び替え
        = f.select( :sorts, { '登録順': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { selected: params[:q][:sorts] })

      .search__sidebar__box
        %h2.search__sidebar__box__title 詳細検索

        .input-form-box
          %label 
          = icon('far', 'fa-laugh-beam', class: 'fa-laugh-beam') 
          %span キーワードを入力
          = f.text_field :name_cont, placeholder: "何かお探しですか？",class:'input__form'

        .input-form-box
          %label 
          = icon('fas', 'fa-magic', class: 'fa-magic') 
          %span ブランド名から探す
          = f.text_field :brand_cont,class:'search__form', placeholder:'例)シャネル'

        .input-form-box
          %label 
            = icon('fas', 'fa-search-dollar', class: 'fa-search-dollar') 
            %span 価格を指定する (数字のみ)
          %br/
          = collection_select :price, :select, Price.all, :id, :name, {prompt: "---"},class:'search__form'
          .input-form-box__price
            = f.text_field :price_gteq,class:'search__form__small',placeholder:'例)¥ 300'
            %span.spacer ~
            = f.text_field :price_lteq,class:"search__form__big",placeholder:'¥ 1000 '

        .input-form-box
          %label
            = icon('fas', 'fa-lightbulb', class: 'fa-lightbulb') 
            %span 商品の状態
            =f.select :status_cont, ['新品', '未使用', '未使用に近い', '目立った傷や汚れなし', 'やや傷や汚れあり', '傷や汚れあり', '全体的に状態が悪い'], include_blank: '選択してください', class: "search__form__select"
      
      .input-btn  
        %button.search__clear-btn{id:"search-clear"} 
          =link_to 'クリア', '/items/search?utf8=✓&q%5Bname_cont%5D=&commit=検索'
        =f.submit "完了", class: '.search__red-btn',id:'search_submit'


  -# -----サーチメイン-----
  .search__main
    .search__main__container 
      //-----検索結果 -----
      .search__main__container__title
        - if @search.present?
          = "#{@keyword + ' 検索結果'}" 
          %h2.search__result__head
          %span
          = "検索結果 1-#{@search.length} 件"
        - else 
          %h2.search__result__head 検索結果 0件
          %p.search__result__description 該当する商品が見つかりません。

      -# -----検索表示-----
      .search__main__container__table
        %ul.table-item
          -@search.each do |item|
            - if item.purchaser_id.nil?
              = link_to item_path(item.id) do
                %li.table-item__list
                  .table-item__list__img-box
                    = image_tag item.item_images[0].image.url, class:"product-img"
                    .table-item__list__img-box__price
                      %span= "¥#{item.price}"
                  .table-item__list__text-box
                    = "#{item.name}"
                    .table-item__list__text-box__like
                      = link_to "" do
                        = icon('far', 'fa-heart', class: 'fa-heart')
                        %apan.favorite
                          = item.favorites.count         
                      .table-item__list__text-box__like__icon

      //-----ページボタン-----   
      .pager
        .page-btn
          = paginate @search,window:2
          
=render"footer"
= render "exhibition"
 

