.wrapper
  = render "header"


.search
  -# -----サイドバー-----
  .search__sidebar
    = search_form_for @q,url:search_items_path, class:"search__form" do |f|
      .search__sidebar__box
        %h3.search__sidebar__box__title 詳細検索
        .input-form-box
          %label キーワードを追加する
          = f.text_field  :name_cont, placeholder: "何かお探しですか？",class:'input__form', value:@keyword
        
        .input-form-box
          %label ブランド名から探す
          = f.text_field  :brand_cont,class:'search__form', placeholder:'例)シャネル',value:@brand
        .input-form-box
          %label 価格を指定する
          %br/
          =f.select :price, ['300〜1000', '1000〜5000', '5000〜10000', '10000〜30000', '30000〜50000', '50000〜'], include_blank: '選択してください', class: "search__form"
          .input-form-box__price
            = f.number_field :price_gteq,class:'search__form__small',placeholder:'¥ Min'
            %span.spacer ~
            = f.number_field :price_lteq,class:"search__form__big",placeholder:'¥ Max'

        
      %button.btn-default.btn-gray{id:"search-clear"} クリア
      =f.submit "完了", class: 'btn-default btn-red',id:'search_submit'


  -# -----サーチカテゴリ-----
  .search-category
    .container
      //-----商品のタイトルとリスト-----
      .container__title
        %p 検索結果
        %h1.text= "#{params[:keyword]}の商品一覧"
      .container__table
        %ul.item
          -@search_items.reverse.each do |item|
            - if item.buyer_id.nil?
              = link_to item_path(item.id) do
                %li.item__list
                  .item__list__img-box
                    =image_tag "category/close1.jpg", class:"close1.jpg"
                    .item__list__img-box__price
                      %span= "¥#{item.price}"
                  .item__list__text-box
                    = "#{item.brand}"
                    %br
                    = "#{item.name}"
                    .item__list__text-box__like
                      = link_to "" do
                        = icon('far', 'fa-heart', class: 'fa-heart')          
                      .item__list__text-box__like__icon
                      %span 2
                      
        .contents__all-items-category
          %h2.contents__all-items__head-caterory
            - unless @keyword == nil
              - if @page == nil
                =@keyword + "の検索結果"
              - else
                =@keyword + "の検索結果(" + @page + "ページ目)"
        

      //-----ページボタン-----   
      .pager
        .page-btn
          = paginate @items,window:2

.footer
  =render"footer"



