!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HashLiteral.com
    = csrf_meta_tags
    = csp_meta_tag
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    %link{ rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ type: "text/javascript",src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}
    %script{ type: "text/javascript",src: "https://unpkg.com/sweetalert/dist/sweetalert.min.js"}
    %script{ type: "text/javascript",src: "https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"}
    %script{ type: "text/javascript",src: "https://cdnjs.cloudflare.com/ajax/libs/background-check/1.2.2/background-check.min.js"}
  %body
    = render 'layouts/notifications'
    = yield
