!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample72d
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    .footer__sell-btn
      =link_to "#", class: "footer__sell-btn-icon" do
        .footer__sell-btn-icon__text
          出品
        %i.fas.fa-camera-retro.footer__sell-btn-icon__camera